<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame 29-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{204,342}</string>
                <key>spriteSourceSize</key>
                <string>{208,346}</string>
                <key>textureRect</key>
                <string>{{111,1},{204,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 29-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{204,342}</string>
                <key>spriteSourceSize</key>
                <string>{208,346}</string>
                <key>textureRect</key>
                <string>{{317,1},{204,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 32-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{699,1},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 32-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{735,253},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 123-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,108}</string>
                <key>spriteSourceSize</key>
                <string>{354,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{354,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 148-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,231}</string>
                <key>spriteSourceSize</key>
                <string>{190,231}</string>
                <key>textureRect</key>
                <string>{{861,171},{190,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 149-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{159,193}</string>
                <key>spriteSourceSize</key>
                <string>{159,195}</string>
                <key>textureRect</key>
                <string>{{163,345},{159,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 150-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{168,193}</string>
                <key>spriteSourceSize</key>
                <string>{168,195}</string>
                <key>textureRect</key>
                <string>{{861,1},{168,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 151-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{159,191}</string>
                <key>spriteSourceSize</key>
                <string>{159,195}</string>
                <key>textureRect</key>
                <string>{{358,345},{159,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 152-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{182,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{551,288},{182,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 159.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,160}</string>
                <key>spriteSourceSize</key>
                <string>{144,162}</string>
                <key>textureRect</key>
                <string>{{1,357},{140,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>可采摘-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,85}</string>
                <key>spriteSourceSize</key>
                <string>{278,85}</string>
                <key>textureRect</key>
                <string>{{612,1},{278,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>排行榜-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,87}</string>
                <key>spriteSourceSize</key>
                <string>{285,87}</string>
                <key>textureRect</key>
                <string>{{523,1},{285,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>置換.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,48}</string>
                <key>spriteSourceSize</key>
                <string>{99,48}</string>
                <key>textureRect</key>
                <string>{{861,404},{99,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>購買.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,47}</string>
                <key>spriteSourceSize</key>
                <string>{98,47}</string>
                <key>textureRect</key>
                <string>{{911,404},{98,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zh-hk.png</string>
            <key>size</key>
            <string>{1055,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a06bef5291f89135bf9c636c0dd753c8:bfe092fe6640a685a91f3fcf03a106f1:0015ad0754d54c912d5be4af13872116$</string>
            <key>textureFileName</key>
            <string>zh-hk.png</string>
        </dict>
    </dict>
</plist>
