<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BUY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,38}</string>
                <key>spriteSourceSize</key>
                <string>{103,38}</string>
                <key>textureRect</key>
                <string>{{623,462},{103,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EXCHG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,38}</string>
                <key>spriteSourceSize</key>
                <string>{174,38}</string>
                <key>textureRect</key>
                <string>{{623,422},{174,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 29-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{222,258}</string>
                <key>spriteSourceSize</key>
                <string>{226,262}</string>
                <key>textureRect</key>
                <string>{{176,1},{222,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 29-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{222,258}</string>
                <key>spriteSourceSize</key>
                <string>{226,262}</string>
                <key>textureRect</key>
                <string>{{400,1},{222,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 32-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,166}</string>
                <key>spriteSourceSize</key>
                <string>{139,166}</string>
                <key>textureRect</key>
                <string>{{176,261},{139,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 32-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,166}</string>
                <key>spriteSourceSize</key>
                <string>{136,166}</string>
                <key>textureRect</key>
                <string>{{317,261},{136,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 123-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,108}</string>
                <key>spriteSourceSize</key>
                <string>{429,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{429,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 148-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,231}</string>
                <key>spriteSourceSize</key>
                <string>{190,231}</string>
                <key>textureRect</key>
                <string>{{624,1},{190,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 149-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{159,184}</string>
                <key>spriteSourceSize</key>
                <string>{159,198}</string>
                <key>textureRect</key>
                <string>{{644,234},{159,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 150-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{159,187}</string>
                <key>spriteSourceSize</key>
                <string>{159,201}</string>
                <key>textureRect</key>
                <string>{{455,261},{159,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 151-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{159,184}</string>
                <key>spriteSourceSize</key>
                <string>{159,198}</string>
                <key>textureRect</key>
                <string>{{816,189},{159,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 157.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{186,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{816,1},{186,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 161.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{144,141}</string>
                <key>textureRect</key>
                <string>{{805,350},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rank list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,63}</string>
                <key>spriteSourceSize</key>
                <string>{413,63}</string>
                <key>textureRect</key>
                <string>{{111,1},{413,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Ready to pick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,76}</string>
                <key>spriteSourceSize</key>
                <string>{620,76}</string>
                <key>textureRect</key>
                <string>{{1,432},{620,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>en.png</string>
            <key>size</key>
            <string>{1033,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c9ba2d177eab16ee1944e85c1b6fecd:0c9301319005f469839f0d977e81e506:c9d7cce0a59ff73947f35c9fd304d4bd$</string>
            <key>textureFileName</key>
            <string>en.png</string>
        </dict>
    </dict>
</plist>
