<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame 33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{204,342}</string>
                <key>spriteSourceSize</key>
                <string>{208,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{1015,111},{124,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,250}</string>
                <key>spriteSourceSize</key>
                <string>{124,250}</string>
                <key>textureRect</key>
                <string>{{413,324},{124,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame 36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{204,342}</string>
                <key>spriteSourceSize</key>
                <string>{208,346}</string>
                <key>textureRect</key>
                <string>{{207,1},{204,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 123-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,108}</string>
                <key>spriteSourceSize</key>
                <string>{300,108}</string>
                <key>textureRect</key>
                <string>{{815,1},{300,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 148-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,231}</string>
                <key>spriteSourceSize</key>
                <string>{190,231}</string>
                <key>textureRect</key>
                <string>{{413,91},{190,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 149-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{159,190}</string>
                <key>spriteSourceSize</key>
                <string>{159,198}</string>
                <key>textureRect</key>
                <string>{{196,345},{159,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 150-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{159,193}</string>
                <key>spriteSourceSize</key>
                <string>{159,201}</string>
                <key>textureRect</key>
                <string>{{1,345},{159,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 151-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{210,190}</string>
                <key>spriteSourceSize</key>
                <string>{210,198}</string>
                <key>textureRect</key>
                <string>{{803,111},{210,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 157-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{196,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{605,91},{196,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{140,145}</string>
                <key>spriteSourceSize</key>
                <string>{158,147}</string>
                <key>textureRect</key>
                <string>{{665,309},{140,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>구입.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,46}</string>
                <key>spriteSourceSize</key>
                <string>{85,46}</string>
                <key>textureRect</key>
                <string>{{807,303},{85,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>따기 가능.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,88}</string>
                <key>spriteSourceSize</key>
                <string>{400,88}</string>
                <key>textureRect</key>
                <string>{{413,1},{400,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>순위표.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,88}</string>
                <key>spriteSourceSize</key>
                <string>{267,88}</string>
                <key>textureRect</key>
                <string>{{807,363},{267,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>스왑.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,45}</string>
                <key>spriteSourceSize</key>
                <string>{89,45}</string>
                <key>textureRect</key>
                <string>{{1076,363},{89,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kr.png</string>
            <key>size</key>
            <string>{1140,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56173ca86852642b69511cf3927ca94c:f0c0b5689d0b7043acb9294ae3dde7cd:a8a7159dfa56e82a6c99220ccc1fa5e3$</string>
            <key>textureFileName</key>
            <string>kr.png</string>
        </dict>
    </dict>
</plist>
