<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2000005 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{485,377}</string>
                <key>spriteSourceSize</key>
                <string>{541,541}</string>
                <key>textureRect</key>
                <string>{{699,3381},{485,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8d8a7e8094f9f52a47bf3bc9849ca6c7b9297025366ba-musVLy_fw658 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{326,500}</string>
                <key>spriteSourceSize</key>
                <string>{558,612}</string>
                <key>textureRect</key>
                <string>{{1296,2656},{326,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Arrow-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{2429,3637},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ellipse 24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{284,284}</string>
                <key>spriteSourceSize</key>
                <string>{288,288}</string>
                <key>textureRect</key>
                <string>{{2240,1931},{284,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ellipse 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,318}</string>
                <key>spriteSourceSize</key>
                <string>{287,318}</string>
                <key>textureRect</key>
                <string>{{3547,2687},{287,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,141}</string>
                <key>spriteSourceSize</key>
                <string>{361,141}</string>
                <key>textureRect</key>
                <string>{{2033,3062},{361,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,141}</string>
                <key>spriteSourceSize</key>
                <string>{362,141}</string>
                <key>textureRect</key>
                <string>{{2028,3205},{362,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,88}</string>
                <key>spriteSourceSize</key>
                <string>{214,88}</string>
                <key>textureRect</key>
                <string>{{3547,3007},{214,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{86,83}</string>
                <key>textureRect</key>
                <string>{{2932,3651},{86,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame 41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{3020,3651},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{600,599}</string>
                <key>textureRect</key>
                <string>{{1624,2685},{384,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,129}</string>
                <key>spriteSourceSize</key>
                <string>{407,129}</string>
                <key>textureRect</key>
                <string>{{1624,3062},{407,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{129,126}</string>
                <key>textureRect</key>
                <string>{{2754,3653},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{101,97}</string>
                <key>spriteSourceSize</key>
                <string>{129,123}</string>
                <key>textureRect</key>
                <string>{{2651,3653},{101,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{602,599}</string>
                <key>textureRect</key>
                <string>{{2010,2685},{384,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 156.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1227,696}</string>
                <key>spriteSourceSize</key>
                <string>{1227,696}</string>
                <key>textureRect</key>
                <string>{{1,2251},{1227,696}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,141}</string>
                <key>spriteSourceSize</key>
                <string>{321,141}</string>
                <key>textureRect</key>
                <string>{{1296,3158},{321,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,141}</string>
                <key>spriteSourceSize</key>
                <string>{321,141}</string>
                <key>textureRect</key>
                <string>{{1498,3484},{321,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,141}</string>
                <key>spriteSourceSize</key>
                <string>{321,141}</string>
                <key>textureRect</key>
                <string>{{3170,3091},{321,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{83,92}</string>
                <key>spriteSourceSize</key>
                <string>{143,138}</string>
                <key>textureRect</key>
                <string>{{2847,3641},{83,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,172}</string>
                <key>spriteSourceSize</key>
                <string>{196,172}</string>
                <key>textureRect</key>
                <string>{{2033,3564},{196,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{138,173}</string>
                <key>spriteSourceSize</key>
                <string>{144,183}</string>
                <key>textureRect</key>
                <string>{{1186,3619},{138,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{142,179}</string>
                <key>spriteSourceSize</key>
                <string>{144,183}</string>
                <key>textureRect</key>
                <string>{{2251,3348},{142,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,183}</string>
                <key>spriteSourceSize</key>
                <string>{144,183}</string>
                <key>textureRect</key>
                <string>{{2767,3495},{144,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{602,599}</string>
                <key>textureRect</key>
                <string>{{2096,2299},{384,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{602,599}</string>
                <key>textureRect</key>
                <string>{{2784,2741},{384,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{602,599}</string>
                <key>textureRect</key>
                <string>{{3170,2705},{384,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,129}</string>
                <key>spriteSourceSize</key>
                <string>{407,129}</string>
                <key>textureRect</key>
                <string>{{1619,3193},{407,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,168}</string>
                <key>spriteSourceSize</key>
                <string>{462,168}</string>
                <key>textureRect</key>
                <string>{{3043,2535},{462,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{602,599}</string>
                <key>textureRect</key>
                <string>{{2396,3108},{384,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{384,375}</string>
                <key>spriteSourceSize</key>
                <string>{602,599}</string>
                <key>textureRect</key>
                <string>{{2782,3118},{384,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LOADING....png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,40}</string>
                <key>spriteSourceSize</key>
                <string>{239,40}</string>
                <key>textureRect</key>
                <string>{{2490,1323},{239,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mask group-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,84}</string>
                <key>spriteSourceSize</key>
                <string>{165,84}</string>
                <key>textureRect</key>
                <string>{{3618,3569},{165,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mask group-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{221,214}</string>
                <key>spriteSourceSize</key>
                <string>{231,216}</string>
                <key>textureRect</key>
                <string>{{2028,3348},{221,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mask group.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1005,84}</string>
                <key>spriteSourceSize</key>
                <string>{1005,84}</string>
                <key>textureRect</key>
                <string>{{1102,2213},{1005,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rectangle 42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{458,278}</string>
                <key>spriteSourceSize</key>
                <string>{464,284}</string>
                <key>textureRect</key>
                <string>{{1,3480},{458,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_button 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-11}</string>
                <key>spriteSize</key>
                <string>{133,107}</string>
                <key>spriteSourceSize</key>
                <string>{147,129}</string>
                <key>textureRect</key>
                <string>{{1361,3619},{133,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_background 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2532,1320}</string>
                <key>spriteSourceSize</key>
                <string>{2532,1320}</string>
                <key>textureRect</key>
                <string>{{1,1},{2532,1320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_gou 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,384}</string>
                <key>spriteSourceSize</key>
                <string>{468,384}</string>
                <key>textureRect</key>
                <string>{{1626,2299},{468,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon画板-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{3699,3460},{126,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2532,1320}</string>
                <key>spriteSourceSize</key>
                <string>{2532,1320}</string>
                <key>textureRect</key>
                <string>{{2535,1},{2532,1320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plant_p0 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,69}</string>
                <key>spriteSourceSize</key>
                <string>{135,69}</string>
                <key>textureRect</key>
                <string>{{2243,2217},{135,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plant_p4 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,156}</string>
                <key>spriteSourceSize</key>
                <string>{315,156}</string>
                <key>textureRect</key>
                <string>{{3168,3234},{315,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tc 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{1099,926}</string>
                <key>spriteSourceSize</key>
                <string>{1125,1042}</string>
                <key>textureRect</key>
                <string>{{1,1323},{1099,926}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>场景素材画板-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,57}</string>
                <key>spriteSourceSize</key>
                <string>{95,57}</string>
                <key>textureRect</key>
                <string>{{1080,3297},{95,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>场景素材画板-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,177}</string>
                <key>spriteSourceSize</key>
                <string>{274,195}</string>
                <key>textureRect</key>
                <string>{{3168,3392},{254,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>场景素材画板-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{114,167}</string>
                <key>spriteSourceSize</key>
                <string>{158,195}</string>
                <key>textureRect</key>
                <string>{{3283,3571},{114,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>场景素材画板-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{211,189}</string>
                <key>spriteSourceSize</key>
                <string>{241,195}</string>
                <key>textureRect</key>
                <string>{{3493,3097},{211,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>场景素材画板-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{194,173}</string>
                <key>spriteSourceSize</key>
                <string>{214,195}</string>
                <key>textureRect</key>
                <string>{{1858,3564},{194,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>场景素材画板-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{365,386}</string>
                <key>spriteSourceSize</key>
                <string>{403,472}</string>
                <key>textureRect</key>
                <string>{{2396,2741},{365,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>场景素材画板-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,148}</string>
                <key>textureRect</key>
                <string>{{2535,3653},{82,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>场景素材画板-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{221,235}</string>
                <key>spriteSourceSize</key>
                <string>{241,257}</string>
                <key>textureRect</key>
                <string>{{461,3480},{221,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,570}</string>
                <key>spriteSourceSize</key>
                <string>{1136,570}</string>
                <key>textureRect</key>
                <string>{{1102,1323},{1136,570}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{310,316}</string>
                <key>spriteSourceSize</key>
                <string>{338,316}</string>
                <key>textureRect</key>
                <string>{{1186,3301},{310,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,15}</string>
                <key>spriteSize</key>
                <string>{154,157}</string>
                <key>spriteSourceSize</key>
                <string>{194,187}</string>
                <key>textureRect</key>
                <string>{{2952,3495},{154,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>未标题-2画板-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{101,99}</string>
                <key>spriteSourceSize</key>
                <string>{119,109}</string>
                <key>textureRect</key>
                <string>{{3596,3468},{101,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-30}</string>
                <key>spriteSize</key>
                <string>{200,178}</string>
                <key>spriteSourceSize</key>
                <string>{246,270}</string>
                <key>textureRect</key>
                <string>{{3485,3288},{200,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{82,144}</string>
                <key>spriteSourceSize</key>
                <string>{148,180}</string>
                <key>textureRect</key>
                <string>{{1878,3480},{82,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>未标题-2画板-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{166,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,180}</string>
                <key>textureRect</key>
                <string>{{2587,3485},{166,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>未标题-2画板-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{1128,379}</string>
                <key>spriteSourceSize</key>
                <string>{1136,409}</string>
                <key>textureRect</key>
                <string>{{699,2251},{1128,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>未标题-2画板-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,316}</string>
                <key>spriteSourceSize</key>
                <string>{1136,316}</string>
                <key>textureRect</key>
                <string>{{1102,1895},{1136,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,20}</string>
                <key>spriteSize</key>
                <string>{544,355}</string>
                <key>spriteSourceSize</key>
                <string>{606,395}</string>
                <key>textureRect</key>
                <string>{{1080,2299},{544,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{568,204}</string>
                <key>spriteSourceSize</key>
                <string>{606,230}</string>
                <key>textureRect</key>
                <string>{{2473,2535},{568,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{639,214}</string>
                <key>spriteSourceSize</key>
                <string>{665,230}</string>
                <key>textureRect</key>
                <string>{{1080,2656},{639,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>未标题-2画板-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{606,248}</string>
                <key>spriteSourceSize</key>
                <string>{632,316}</string>
                <key>textureRect</key>
                <string>{{2240,1323},{606,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>未标题-2画板-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{378,158}</string>
                <key>spriteSourceSize</key>
                <string>{490,158}</string>
                <key>textureRect</key>
                <string>{{1498,3324},{378,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>未标题-2画板-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{330,150}</string>
                <key>spriteSourceSize</key>
                <string>{382,316}</string>
                <key>textureRect</key>
                <string>{{3507,2535},{330,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-37}</string>
                <key>spriteSize</key>
                <string>{170,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{3111,3571},{170,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-46}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{2380,2217},{122,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-42}</string>
                <key>spriteSize</key>
                <string>{132,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{2109,2217},{132,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{146,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{3763,3007},{146,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>植物画板-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{154,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{1878,3324},{154,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>植物画板-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-23}</string>
                <key>spriteSize</key>
                <string>{164,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{3452,3570},{164,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{168,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{3687,3288},{168,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{190,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{2395,3485},{190,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{178,126}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{1678,3627},{178,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-36}</string>
                <key>spriteSize</key>
                <string>{170,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{3424,3468},{170,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>植物画板-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-38}</string>
                <key>spriteSize</key>
                <string>{164,98}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{3704,3564},{164,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>植物画板-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-52}</string>
                <key>spriteSize</key>
                <string>{124,66}</string>
                <key>spriteSourceSize</key>
                <string>{200,178}</string>
                <key>textureRect</key>
                <string>{{2251,3529},{124,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉米.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{93,116}</string>
                <key>spriteSourceSize</key>
                <string>{147,150}</string>
                <key>textureRect</key>
                <string>{{2334,3637},{93,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>篮子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{180,126}</string>
                <key>spriteSourceSize</key>
                <string>{246,240}</string>
                <key>textureRect</key>
                <string>{{1496,3627},{180,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>豆子-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{101,105}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{2231,3653},{101,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>豆子.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{104,118}</string>
                <key>spriteSourceSize</key>
                <string>{204,210}</string>
                <key>textureRect</key>
                <string>{{3706,3155},{104,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tex.png</string>
            <key>size</key>
            <string>{3856,3759}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a9f668ef3ef204ba057b928d124812:1453a3344e6f56581987971ee2f09b0b:ea7a4f269cbd28d7cd371b19b549ccbc$</string>
            <key>textureFileName</key>
            <string>tex.png</string>
        </dict>
    </dict>
</plist>
